/* gallery */
.gallery-grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.2rem;
}

.gallery-card{
    height: 12rem;
    border-radius: 16px;
    overflow: hidden;
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-img:hover{
    cursor: pointer;
    transform: var(--img-hover-scale);
}

@media (max-width: 600px) {
  .navigation-mob{
        width: 90%;
    }

    .nav-name-mob h2{
        font-size: 17px;
    }

    .nav-btn-mob{
        font-size: 16px;
    }

    .navigation-mob img.icon{
        height: 25.5px;
    }

    .main{
        margin: 56px auto;
        width: 90%; 
    }

    .main h1 {
        font-size: 24px;
        margin: 8px 0;
    }

    .gallery-grid{
        grid-template-columns: auto auto;
        gap: 0.8rem;
        margin-bottom: 48px;
    }

    .gallery-card{
        height: 10rem;
    }

    .footer{
        font-size: 12px;
    }

    .footer-section{
        width: 90%;
    }

    .footer-right{
        gap: 10px;
    }
}

@media (min-width:601px) and (max-width:900px){
    .gallery-grid{
        grid-template-columns: auto auto;
        gap: 0.8rem;
    }
}



/* modal base */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(245, 245, 247, 0.8);
    backdrop-filter: var(--backdrop-blur);
}

/* modal content */
.modal-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    max-height: 80%;
    border-radius: 12px;
}

.modal-content img {
    max-width: 100%;
    max-height: 70vh;
    border-radius: 16px;
    object-fit: contain;
}

/* description */
.modal-desc {
    color: var(--text-black);
    font-size: 16px;
    margin-top: 12px;
    text-align: center;
}

/* close button */
.close {
    position: absolute;
    top: 4%;
    right: 4%;
    font-weight: bold;
    cursor: pointer;
}

.close img{
    height: 16px;
}

html.dark-mode .modal{
  background-color: rgba(22, 22, 23, 0.8);
}

html.dark-mode .modal-desc{
  color: var(--white);
}

html.dark-mode .close img{
  filter: invert(1);
}
