:root{
    /* font size */
    --base-font-size: 16px;

    /* colors */
    --blue: rgb(0, 136, 255);
    --red: rgb(255,56,60);
    --bg-grey: rgb(245, 245, 247);
    --white: rgb(255, 255, 255);
    --text-black: rgb(29, 29, 31);
    --text-grey-dark: rgb(116, 116, 121);
    --text-grey-light: rgb(142, 142, 147);
    --secondary-btn-bg: rgba(232, 232, 232, 0.8);
    --secondary-btn-hover: rgba(200, 200, 200, 0.8);
    --primary-btn-bg: rgba(0, 0, 0, 0.8);
    --primary-btn-hover: rgba(20, 20, 20, 0.8);
    --primary-delete-btn-hover: rgb(233, 21, 45);

    /* spacing */
    --spacing-small: 12px;
    --spacing-normal: 16px;
    --spacing-medium: 24px;
    --spacing-large: 32px;
    --spacing-xlarge: 100px;
    --spacing-xlarge-top: 120px;

    /* border radius */
    --primary-card-radius: 24px;
    --secondary-card-radus: 12px;
    --circle-radius: 100%;
    --semi-circle-radius: 9999px;

    /* border */
    --border-light: 1px solid rgba(255, 255, 255, 0.8);
    
    /* box shadow */
    --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.08);
    --box-shadow-heavy: 0 8px 32px rgba(31, 38, 135, 0.2);
    --box-shadow-inset: inset 0 4px 20px rgba(255, 255, 255, 0.3);

    /* backdop filter */
    --backdrop-blur: blur(20px);

    /* box shadow */
    --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.08);
    --box-shadow-heavy: 0 8px 32px rgba(31, 38, 135, 0.2);
    --box-shadow-inset: inset 0 4px 20px rgba(255, 255, 255, 0.3);

    /* card hover */
    --card-hover-scale: scale(1.02);
    --img-hover-scale: scale(1.05);
}


/* global body */
body{
    margin: 0;
    padding: 0;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--text-black);
}



/* navigation bar */
nav{
    width: 100%;
    background-color: rgba(245, 245, 247, 0.8);
    backdrop-filter: var(--backdrop-blur);
    position: fixed;
    z-index: 4;
    top: 0%;
}

.navigation{
    margin: auto;
    width: 80%;
    display: flex;
    padding: var(--spacing-small) 0;
    align-items: center;
    justify-content: space-between;
}

.nav-btn{
    font-size: var(--base-font-size);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    letter-spacing: 0.4px;
    border: 0;
    background: none;
    color: var(--text-grey-dark);
}

.nav-btn:hover{
    cursor: pointer;
    color: var(--text-black);
}

.nav-name h2{
    margin: 0;
}

.nav-btn.active {
  color: var(--text-black);
}



/* mobile nav */
.nav-mob{
    width: 100%;
    background-color: rgba(245, 245, 247, 0.8);
    backdrop-filter: var(--backdrop-blur);
    position: fixed;
    z-index: 4;
    top: 0;
}

.nav-name-mob h2{
    margin: 0px;
}

.navigation-mob{
    width: 80%;
    padding: 8px 0;
    position: relative;
    margin: auto;
}

.navigation-mob #myLinks{
    display: none;
    flex-direction: column;
    background: none;
}

.nav-btn-mob{
    z-index: 4;
    font-size: var(--base-font-size);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin: auto;
    background: none;
    border: 0;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color: var(--text-grey-dark);
}

.nav-btn-mob.active {
  color: var(--text-black);
}

.navigation-mob img.icon {
    fill: var(--text-black);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
    height: 36px;
}

nav{
    display: block;
}

.nav-mob{
    display: none;
}

/* --- Mobile breakpoint --- */
@media (max-width: 768px) {
  nav {
    display: none; 
  }

  .nav-mob {
    display: block;
  }
}


/* for later use */
.primary-btn{
    margin-top: 12px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.2px;
    padding: var(--spacing-normal);
    width: 100%;
    border-radius:var(--semi-circle-radius);
    backdrop-filter: var(--backdrop-blur);
    border: var(--border-light);
    box-shadow: var(--box-shadow-light);
    background-color: var(--primary-btn-bg);
    box-shadow: var(--box-shadow-heavy);
    color: var(--white);
}

.primary-btn:hover{
    background-color: var(--primary-btn-hover);
    cursor: pointer;
}

.primary-delete-btn{
    background-color: var(--red);
    box-shadow: var(--box-shadow-heavy);
    color: var(--white);
}

.primary-delete-btn:hover{
    background-color: var(--primary-delete-btn-hover);
}

.secondary-btn{
    margin-top: 10px;
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.2px;
    padding: var(--spacing-normal);
    width: 100%;
    border-radius:var(--semi-circle-radius);
    backdrop-filter: var(--backdrop-blur);
    border: var(--border-light);
    background-color: var(--secondary-btn-bg);
    box-shadow: var(--box-shadow-light);
}

.secondary-btn:hover{
    background-color: var(--secondary-btn-hover);
    cursor: pointer;
}



/* main content */
.main{
    margin: var(--spacing-xlarge) auto;
    width: 80%;
}


/* common attributes */
.section-heading-medium{
    font-size: 2rem;
    font-weight: bold;
}


/* footer */
.footer{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-grey);
    color: var(--text-grey-dark);
    padding: var(--spacing-normal);
}

.footer-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer-right{
    display: flex;
    gap: var(--spacing-large);
}

.footer-heading-small{
    color: var(--text-black);
    font-weight: bold;
}

.footer-link{
    text-decoration: none;
    color: var(--text-grey-dark);
}

.footer-link:hover{
    text-decoration: underline;
}

.mode-toggle{
    border: 0;
    background: none;
    pad: 0;
}
.mode-toggle:hover{
    background: none;
    cursor: pointer;
}

.darkmode{
    height: 24px;
    width: 24px;
}




html.dark-mode {
    background-color: rgb(0, 0, 0);
    color: var(--white);
}

html.dark-mode body{
    color: var(--white);
}

html.dark-mode nav{
    background-color: rgba(22, 22, 23, 0.8);
}

html.dark-mode .nav-mob{
    background-color: rgba(22, 22, 23, 0.8);
}

html.dark-mode .nav-btn{
    color: var(--text-grey-light);
}

html.dark-mode .nav-btn-mob{
    color: var(--text-grey-light);
}

html.dark-mode .navigation-mob img{ 
    filter: invert(1);
}

html.dark-mode .nav-btn:hover{
    color: var(--white);
}

html.dark-mode .nav-btn.active{
    color: var(--white);
}

html.dark-mode .nav-btn-mob.active {
  color: var(--white);
}

html.dark-mode .footer{
    background-color: rgb(29, 29, 31);
}

html.dark-mode .footer-left, .footer-link{
    color: var(--text-grey-light);
}

html.dark-mode .footer-heading-small{
    color: var(--white);
}








/* Fade-in effect for name and picture */
.main, header {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s forwards;
}

#name {
    animation-delay: 0.3s;
}

#pic {
    animation-delay: 0.6s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
