body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}


/* navbar wrapper */
.topnav {
  overflow: hidden;
  background-color: #111;
  position: relative;
}

/* hide links by default */
.topnav #myLinks {
  display: none;
  flex-direction: column;
  background-color: #111;
}

/* all nav links */
.topnav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

/* logo stays at top */
.topnav a.logo {
  font-weight: 600;
  background-color: #111;
}

/* hamburger icon */
.topnav a.icon {
  background: #111;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 16px;
}


/* active page style */
.active {
  background-color: #04AA6D;
  color: white;
}
