.card-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 23.7% 23.7% 23.7% 23.7%;
    gap: 1.2rem;
    margin-bottom: var(--spacing-large);
}

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-grey);
    border-radius: var(--primary-card-radius);
    overflow: hidden;
    padding: var(--spacing-normal);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: var(--card-hover-scale);
}

.card-body-img{
    width: 100%;
    height: 120px;
    border-radius: var(--spacing-small);
    overflow: hidden;
}
.card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-body-heading{
    margin: 1em 0 0 0;
    font-size: 18px;
    font-weight: 600;
}

.card-body-text{
    margin: 0.5em 0 0.5em 0;
    color: var(--text-grey-dark);
}


html.dark-mode .card{
  background-color: var(--text-black);
}

html.dark-mode .card-body-text{
    color: var(--text-grey-light)
}

@media (max-width: 600px) {
  .navigation-mob{
        width: 90%;
    }

    .nav-name-mob h2{
        font-size: 17px;
    }

    .nav-btn-mob{
        font-size: 16px;
    }

    .navigation-mob img.icon{
        height: 25.5px;
    }

    .main{
        margin: 56px auto;
        width: 90%; 
    }

    .main h1 {
        font-size: 24px;
        margin: 8px 0;
    }

    .card-grid{
        grid-template-columns: auto auto auto;
        gap: 0.8rem;
    }

    .card-body-img{
        height: 80px;
    }

    .card-body-heading{
        margin: 0.8em 0 0 0;
        font-size: 17px;
        font-weight: 600;
        overflow: hidden;
    }

    .card-body-text{
        margin: 0.3em 0 0.5em 0;
    }

    .footer{
        font-size: 12px;
    }

    .footer-section{
        width: 90%;
    }

    .footer-right{
        gap: 10px;
    }
}

@media (min-width:601px) and (max-width:769px){
    .card-grid{
        grid-template-columns: auto auto auto;
        gap: 0.8rem;
    }
}